<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-content">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail float-end">
                <picture>
                    <source srcset="..." type="image">
                    <img src="https://i.pinimg.com/564x/77/b3/a6/77b3a6bda74bd0019cee11780571769c.jpg" class="img-fluid img-thumbnail" alt="...">
                </picture>
            </div>
        </div>
    </div>
</div>
